section {
    padding-top: 6rem;
}
.jumbotron{
    padding-top: 6REM;
    background-color: #FDF7E4;
}
/* navbar */
.navbar {
    background-color:  #c4b191;
    padding: 1rem;
    text-align: center;
}

.navbar-collapse {
    display: flex;
    justify-content: right;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.nav-item .nav-link {
    color: #000000;
    font-weight: 600;
    padding: 8px 0;
    transition: color 300ms, border-bottom-color 300ms;
    border-bottom: 1px solid transparent;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeDown 1.5s ease forwards;
}

.nav-item:nth-child(1) .nav-link {
    animation-delay: 0.6s;
}

.nav-item:nth-child(2) .nav-link {
    animation-delay: 0.4s;
}

.nav-item:nth-child(3) .nav-link {
    animation-delay: 0.2s;
}

.nav-item:nth-child(4) .nav-link {
    animation-delay: 0s;
}

.nav-item .nav-link:hover,
.nav-item .nav-link.active {
    color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* navbar */


/* kotak about */

#about-me-box {
    background-color: #fff;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute; 
    top: -90px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 10;
}
.info-box {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1200px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px; 
}

.column {
    flex: 1;
    padding: 20px;
    margin: 0 10px; 
}

.info-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.info-box h2 {
    color: #333;
    margin-bottom: 10px;
}

.info-box p {
    color: #666;
    line-height: 1.6;
}

/* kotak about */


/* project */
#project {
    background-color: #FDF7E4; 
}
.project-box {
    background-color: #c4b191;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    display: block;
    width: fit-content; }

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button-base {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c4b191;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.col-2, .col-3 {
    padding: 5px;
}

.col-2 .button-base, .col-3 .button-base {
    width: calc(100% - 10px);
}

.button-base:hover {
    background-color: #928165; 
}

/* project */


/* contact */
#contact {
    background-color: hsl(0, 0%, 100%); 
    padding: 20px;
    padding-top: 2rem;
    text-align: center;
}
.contact-box{
    background-color: #c4b191; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto auto;
    display: block; 
    width: fit-content;
}
.contact-box-b {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin: auto;
    width: fit-content;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px 0;
    background-color: #c4b191;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #a39274; 
}

/* contact */

/* footer */
footer {
    background-color: #FAF6F0;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: -1rem;
    width: 100%;
}
/* footer */
/* animasi jumbotron */
.aniv {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards, rotateRight 1.5s ease forwards;
    animation-delay: calc(0.3s * var(--index));
}

.aniv1 {
    opacity: 0;
    animation: leftSideAni 3s ease forwards;
    animation-delay: calc(0.2s * var(--index));
}

/* Atur gaya animasi masuk */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        animation-delay: 0.1s;
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotateRight {
    0% {
        transform: rotateY(0);
        opacity: 0;
    }
    100% {
        transform: rotateY(360deg);
        opacity: 1;
    }
}

/* animasi jumbotron */